.Com-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px hidden black;
    border-radius: 20px 20px 20px 20px;
    margin: 0 auto;
    height: 25em;
    width: 25em;
  }

.Com-item:hover{
    color: #883a3a;
    opacity: 0.6;
}


.com-name {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 4px black;
    padding-top: 25%;
}

.com-img
{
    height: 100%;
    width:100%;
    background-size: cover;
    border-radius: 17px;
}

.com-description{
  font-size: 18px;
}
