
.company-marquee{
  height:5em;
  width: auto;
}

.company-logo {
  max-height: 100%;
  width: auto;
  padding-left: 1em;
  padding-right: 1em;
}

.company-container{
  padding-top: 3%;
}

.company-header{
  text-align: center;

}
