
.stat-item{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1%;
  padding-bottom: 1%;
}

.stat-number{
  display: flex;
  flex-direction: row;
  color: #883a3a;
  align-items: center;
}

.stat-container{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.stat-values{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: #883a3a;
}