
.stat-item{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1%;
  padding-bottom: 1%;
}

.stat-number{
  display: flex;
  flex-direction: row;
  color: white;
  align-items: center;
}

.stat-container{
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #883a3a;
  padding-bottom: 20px;
}

.stat-values{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: white;
}

.subheader-1{
  text-align: left;
  padding-left: 6%;
  padding-right: 6%;
  color: white;
  
}

.subheader-sub{
  margin-bottom: 0;
}