.dashboard-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 20px;
    align-items: center;
}

.dashboard{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.dashboard-buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}