.faq-title{
  font-size: 70px;
  text-align: center;
  color: white;
  padding-left: 2%;
  padding-right: 2%;
}

.faq-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 60%;
}
