.red {
  color: #883a3a;
}
.gold {
  color: #f1dbb6;
}

html {
    background-color: #white;
    font-family: Helvetica, Arial, sans-serif, monospace;
    overflow-x: hidden;
}

body {
    padding-top: 1%;
    background-color: white;
}
