html {
    background-color: #white;
    font-family: Helvetica, Arial, sans-serif;
    overflow-x: hidden;
    text-align: center;
    background-color: #883a3a;
}

header {
  color: white;
  font-weight: bold;
  padding-bottom: 1%;
}

body {
    padding-top: 70px;
}
