/* should i move this style to the homepage folder idk */

.title{
  font-family: Helvetica;
  font-style: normal;
  font-size: 6em;
  font-weight: bold;
}

.homepage{
  text-align: center;
  padding-top: 100px;
}

.intro{
  font-size: 40px;
  font-weight: bold;
}
.umich{
  text-align: center;
  font-size: 2em;
  font-family: "Copperplate", fantasy;
}


 /* this is the style to keep pillars uniform */
.pillar-item{
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 1%;
  padding-right: 1%;
}

.pillar-title{
  font-size: 4em;
  font-weight: bold;
  padding-left: 3%;
  padding-right: 3%;
  color: #883a3a;
}

.pillar-images{
  display: flex;
  flex-direction: row;
}
