.navbar {
    background-color: #f1dbb6;
}

li {
  list-style: none;
  text-decoration: none;
}

.navbar-item {
  flex-direction: row;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-around ;
}

img {
    margin-left: 0.5vw;
}

h3 {
    margin: 0px 0.5vw;
}
