.rush{
  padding-top: 100px;
}

.rush-header{
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.rush-title{
  font-size:100px;
  color: #883a3a;
  padding-left: 2%;
  padding-right: 2%;
}

.interest-form{
  display: flex;
  justify-content: space-evenly;
  font-size: 2em;
  padding-top: 1em;
}

.interest-links{
    text-decoration: none;
    color: white;
    border: 2px solid #f1dbb6;
    border-radius: 20px;
    background-color: #883a3a;
}

.interest-links:hover{
    color: white;
    opacity: .8;
}

.rush-schedule {
  display: flex;
  height: 40em;
  width: auto;
  justify-content: center;
}


.rush-image{
  height: 100%;
  width: auto;
}

.questions{
  display: flex;
  justify-content: center;
}
