
#about-us-image-container{
  width: 60%;
}
#about-us-text-container{
  width: 40%;
  font-size: 20px;
}
#about-us-image{
  max-width: 100%;
  max-height: 100%;
  height: auto;
}
.about-us-item {
  padding-left: 1%;
  padding-right: 1%;
}
.about-us-container {
    display: flex;
    max-width: 100%;
    flex-direction: row;
    justify-content: space-around;
    padding-right: 1%;
    padding-top: 3%;
}

#about-us-text{

}

@media (max-width: 400px) {
  #about-us-image-container{
    width: 100%;
  }

  #about-us-text-container{
    width: 100%;
    font-size: 12px;
  }

  #about-us-image{
    max-width: 100%;
    max-height: 100%;
    height: auto;
  }
  .about-us-item {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 2%;
  }
  .about-us-container {
      display: flex;
      max-width: 100%;
      flex-direction: column;
      justify-content: center;
      padding-top: 0%;

  }
  
}