.brotherhood-title{
  text-align: left;
}

.pillar-marquee{
  height: 20em;
}

.img {
  max-height: 100%;
  width: auto;
}

.mobile-pillar-marquee {
  height: 8em;
}

@media (max-width: 400px) {
  .brotherhood-title{
    text-align: left;
  }
  
  .img {
    max-height: 100%;
    width: auto;
  }
}